<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><B><U></U></B> To-Do LIST</B></U></h1>
    <form method="POST">
        <input type="text" name="task" placeholder="Enter a new task" required>
        <button type="submit">ADD TASK</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>{{ task }} <a href="/delete/{{ loop.index0 }}">DELETE</a></li>
        {% endfor %}
    </ul>
</body>
</html>
